label{
    margin-top:15px ;
    font-size :32px;
    background-color: rgb(190, 111, 255);
    padding:8px;
    border-radius: 10px;
}

.btn-info:hover{
background-color: rgb(1, 249, 232);
border-radius: 10px;
color: black;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   
}

@keyframes example{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px red;}
}